/*
 * Makes the content div fill the entire space.
 */
#activities-content {
	position: absolute;
	left:0;
	right:0;
	top:44px;
	bottom:0px;
}

#activities-contentwrapper {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#activities-centralwrapper {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#activitiescentralscroller {
	position: absolute;
	left: 5%;
	right: 5%;
}

.activities-item {
	margin-left:-36px;
	list-style: none;
}

#contacts-doneButtonWrapper,
#activities-addButtonWrapper {
	width: 100%;
	position: absolute;
	bottom: 0px;
	height: 45px;
}
