#contacts-content {

}

#contacts-favorites {
	margin-top: 8px;
	margin-left: 5%;
	text-align: left;
	color: white;
	font-size:16px;
}

#contacts-favorites-wrapper {
	margin-top: 8px;
	height: 64px;
	width: 100%;
	text-align: center;
}

.contacts-favorite-image-selected,
.contacts-favorite-image {
	width:64px;
	height:64px;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

.contacts-favorite-image-selected {
	background: gray;
}

.contacts-favorite-image-selected img,
.contacts-favorite-image img {
	height: 56px;
	width: 56px;
	margin: 4px 4px 4px 4px;
}

#contacts-all {
	margin-top: 8px;
	margin-left: 5%;
	text-align: left;
	color: white;
	font-size:16px;
}

#beautifulcontactwrapper {
	position:absolute;
	left: 0px;
	top: 174px;
	right: 0px;
	bottom:  0px;
}

#contactswrapper {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom:  0px;
}

#contactsscroller {
	position: relative;
	left: 0%;
	right: 0%;
	bottom: 0%;
}

#contactslist {
	height: 100%;
}

.contactentry-wrapper {
	color: white;
	height:64px;
	text-align:center;
	border-bottom: 2px solid rgba(230,230,230,0.5);
    background-color: rgba(30,30,30,0.75);
   	width: 100%;
}

.contactsentry-image img {
	float: left;
	margin-left:8px;
	margin-top:8px;
	width:48px;
	height:48px;
	display:inline-block;
}

.contactsentry-text {
	float: left;
	margin-top:20px;
	margin-left:10px;
}

.contactsentry-checkbox {
	float: right;
	border: 1px solid white;
	border-radius: 4px 4px;
	height:16px;
	width:16px;
	margin-top:24px;
	margin-right:20px;
}