#filterWrapper {
   width:98%;
   margin-left: 1%;
   margin-right: 1%;
   position: absolute;
   top:32px;
   text-align: center;
}

#currentFilterWrapper {
   float:left;
   width: 98%;
   margin-left: 1%;
   margin-right: 1%;
   height: 55px;
}

#changeFilterWrapper {
	float: left;
   	position: relative;
	width: 34%;
}

#currentFilter-rightColumn,
#currentFilter-leftColumn {
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	float: left
}

#currentFilter-location, 
#currentFilter-time {
	margin-top: 11px;
	font-size: 14px;
}

#currentFilter-friend,
#currentFilter-activity {
	margin-top: 3px;
	font-size: 14px;
}

#visualisations {
	overflow:hidden;
}

#visualisation-content {
	position:absolute;
	top:44px;
	left:1%;
	right:1%;
	bottom:8px;
}

#beautywrapper {
	position: absolute;
	top:90px;
	bottom:16px;
	left:1%;
	right:1%;
}

#canvaswrapper {
    /* iscroll */
	position: absolute;
	z-index:1;
	left:5px;
	right:5px;
	top:12px;
	bottom:12px;
}

#visualizationcanvas {
	position: absolute;
	width:100%;
}

#timeFilter,
#locationFilter,
#activityFilter,
#friendFilter {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
}

#visfilter-bottombar {
	text-align: center;
}

#filterokbutton {
	width: 80px;
	text-align: center;
}